<div fxLayout="row" fxLayoutAlign="center center">

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- icon Column -->
    <ng-container matColumnDef="icon">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element"> <img class="icon-rss" [src]="element.icon"> </td>
    </ng-container>

    <!-- title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef> Titre </th>
      <td mat-cell *matCellDef="let element" [innerHTML]="element.title | emojis"> </td>
    </ng-container>

    <!-- date Column --> 
    <ng-container matColumnDef="isoDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header start="desc"> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.isoDate | date:'short'}} </td>
    </ng-container>

    <!-- author Column -->
    <ng-container matColumnDef="author">
      <th mat-header-cell *matHeaderCellDef> Auteur </th>
      <td mat-cell *matCellDef="let element" > {{ element.author }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row (click)="goToUrl(row.link)" *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>

</div>